* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 46px 160px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #DE4C36;
}

.f-logo {
    font-size: 22px;
    font-weight: bold;
    color: #DE4C36;
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links a {
    color: #666666;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 16px;
}

.nav-links a img {
    margin-left: 10px;
}

.nav-links a:hover {
    color: #ca24b4;
}

.nav-links button {
    margin-right: 30px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    width: 30px;
    height: 25px;
}

.nav-links button img {
    margin-top: 2.5px;
}


.projects-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projects-section h2 {
    color: #42446E;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projects-section p {
    color: #42446E;
    font-size: 16px;
    margin-bottom: 50px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project-card {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: #42446E;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    color: #42446E;
    font-size: 16px;
    line-height: 1.5;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1a1a1a;
}

.dark-mode .logo, .dark-mode .f-logo {
    color: #DE4C36;
}

.dark-mode .nav-links a {
    color: #c2c2c2;
}

.dark-mode .nav-links a:hover {
    color: #ca24b4;
}

.dark-mode .nav-links button {
    margin-right: 30px;
    background-color: #c2c2c2;
    border-radius: 5px;
    width: 30px;
}

.dark-mode .container, .dark-mode .stack-section, .dark-mode .projects-section, .dark-mode .project-card {
    background-color: #1a1a1a;
    color: #c2c2c2;
    box-shadow: 0 0 15px rgba(165, 165, 165, 0.1);
}

.dark-mode .container .image-section {
    box-shadow: 0 0 15px rgba(165, 165, 165, 0.1);
}

.dark-mode .text-section h1 {
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode .stack-section h2, .dark-mode .projects-section h2, .dark-mode .project-card h3 {
    color: #c2c2c2;
}

.dark-mode .stack-section p, .dark-mode .projects-section p, .dark-mode .project-card p {
    color: #c2c2c2;
}

.dark-mode .footer {
    background-color: #1a1a1a;
}

.dark-mode .footer .nav-links a {
    color: #c2c2c2;
}

.dark-mode .footer a:hover {
    color: #ca24b4;
}

/* Responsive design */

@media (max-width: 890px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-links {
        margin-top: 35px;
        flex-wrap: wrap;
    }

    .nav-links a {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 15px;
        margin-top: -22px;
    }

    .dark-mode .nav-links button {
        margin-right: 30px;
        background-color: #c2c2c2;
        border-radius: 5px;
        width: 30px;
        margin-top: -25px;
    }

    .nav-links button {
        margin-right: 30px;
        border-radius: 5px;
        width: 30px;
        margin-top: -25px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .text-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-section {
        text-align: center;
    }

    .stack-images img {
        width: 60px;
        height: 60px;
    }

    .project-cards {
        flex-direction: column;
        gap: 20px;
    }

    .project-card {
        flex: 1 1 100%;
    }

    .footer {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-links {
        margin-top: 35px;
        flex-wrap: wrap;
    }

    .nav-links a {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 15px;
        margin-top: -22px;
    }
 .nav-links button {
        margin-right: 20px;
        border-radius: 5px;
        width: 25px;
        height: 18px;
        margin-top: -28px;
    }

.nav-links button img {
        width: 12px;
        margin-top: 2px;
    }

    .dark-mode .nav-links button {
        margin-right: 20px;
        background-color: #c2c2c2;
        border-radius: 5px;
        width: 25px;
        height: 18px;
        margin-top: -28px;
    }

    .dark-mode .nav-links button img {
        width: 12px;
        margin-top: 2px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .text-section {
        padding-right: 0;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .image-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .stack-images img {
        width: 60px;
        height: 60px;
    }

    .project-cards {
        flex-direction: column;
        gap: 20px;
    }

    .project-card {
        flex: 1 1 100%;
    }

    .footer {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer .nav-links a {
        margin-top: -23px;
    }

    .footer .nav-links a img {
        margin-top: 3px;
    }

    .about-section {
        max-width: 90%;
        margin: 30px auto;
        padding: 15px;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .about-section h3 {
        font-size: 20px;
    }

    .experience-item .job-title, .education-item .school-level {
        font-size: 16px;
    }

    .experience-item .company, .education-item .school-name {
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    /* Navbar responsiveness for very small screens */
    .navbar {
        padding: 20px 10px;
        margin-bottom: 30px;
    }

 .nav-links button {
        margin-right: 20px;
        border-radius: 5px;
        width: 20px;
        height: 15px;
        margin-top: -28px;
    }

    .nav-links button img {
        width: 12px;
        margin-top: 0px;
    }

    .dark-mode .nav-links button {
        margin-right: 20px;
        background-color: #c2c2c2;
        border-radius: 5px;
        width: 20px;
        height: 15px;
        margin-top: -28px;
    }

    .dark-mode .nav-links button img {
        width: 12px;
        margin-top: 0px;
    }
    .logo {
        margin-top: 8px;
        font-size: 12px;
        margin-left: 20px;
    }

    .footer {
        padding: 20px 10px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .f-logo {
        font-size: 15px;
        margin-left: 20px;
        margin-top: 2px;

    }

    .nav-links a {
        font-size: 10px;
        margin-right: 10px;
        margin-top: -23px;
    }

    .nav-links a img {
        display: none;
    }

    .nav-links a .icons {
        display: flex;
        width: 10px;
        gap: -10px;
    }

    /* Body section responsiveness for very small screens */
    .text-section h1 {
        font-size: 25px;
    }

    .text-section p {
        font-size: 16px;
    }

    /* Stack section responsiveness for very small screens */
    .stack-section h2 {
        font-size: 24px;
    }

    .stack-section p {
        font-size: 16px;
    }

    .stack-images img {
        width: 50px;
        height: 50px;
    }

    /* Projects section responsiveness for very small screens */
    .projects-section h2 {
        font-size: 24px;
    }

    .projects-section p {
        font-size: 16px;
    }

    .project-card h3 {
        font-size: 18px;
    }

    .project-card p {
        font-size: 14px;
    }
    
}

@media (max-width: 380px) {    
    .navbar {
    padding: 20px 10px;
    margin-bottom: 10px;
}

.nav-links button {
    margin-right: 10px;
    border-radius: 5px;
    width: 20px;
    height: 16px;
    margin-top: -30px;
}

.nav-links button img {
    width: 12px;
    margin-top: 0px;
}

.dark-mode .nav-links button {
    margin-right: 10px;
    background-color: #c2c2c2;
    border-radius: 5px;
    width: 20px;
    height: 16px;
    margin-top: -30px;
}

.dark-mode .nav-links button img {
    width: 12px;
    margin-top: 0px;
}
.logo {
    margin-top: 6px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 40px;
}

.footer {
    padding: 20px 0px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.f-logo {
    font-size: 10px;
    margin-left: 20px;
}

.nav-links a {
    font-size: 10px;
    margin-right: 10px;
    margin-top: -25px;
}

.nav-links a img {
    display: none;
}

.nav-links a .icons {
    display: flex;
    width: 10px;
    gap: -20px;
}

    .text-section h1 {
        margin-top: 20px;
        font-size: 20px;
    }

}