* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 46px 160px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #DE4C36;
}

.f-logo {
    font-size: 22px;
    font-weight: bold;
    color: #DE4C36;
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links a {
    color: #666666;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 16px;
}

.nav-links a img {
    margin-left: 10px;
}

.nav-links a:hover {
    color: #ca24b4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-section {
    flex: 1;
    padding-right: 50px;
}

.text-section h1 {
    font-weight: bold;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    line-height: 1.6;
}

.image-section {
    flex: 1;
    text-align: right;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stack-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.stack-section h2 {
    color: #42446E;
    font-size: 28px;
    margin-bottom: 20px;
}

.stack-section p {
    font-size: 18px;
    margin-bottom: 50px;
}

.stack-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    size: 24px;
}

.stack-images img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projects-section h2 {
    color: #42446E;
    font-size: 28px;
    margin-bottom: 10px;
}

.projects-section p {
    color: #42446E;
    font-size: 16px;
    margin-bottom: 30px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project-card {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: #42446E;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    color: #42446E;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    color: #42446E;
    padding: 0px 160px;
    margin-bottom: 40px;
}

.about-section {
    flex-direction: row;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 28px;
    color: #555;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-section p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 50px;
}

.experience-item {
    margin-bottom: 20px;
}

.education-item {
    margin-bottom: 0px;
}

.employment-type {
    font-weight: bold;
    font-size: 14px;
    color: green;
}

.time {
    width: 75px;
    height: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

.experience-item .job-title, .education-item .school-level {
    display: flex;
    color: #555;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
    margin-bottom: 20px;
}
.experience-item .company, .education-item .school-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
}

/* Responsive design */

@media (max-width: 840px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-links {
        margin-top: 35px;
        flex-wrap: wrap;
    }

    .nav-links a {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 15px;
        margin-top: -22px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .text-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-section {
        text-align: center;
    }

    .stack-images img {
        width: 60px;
        height: 60px;
    }

    .project-cards {
        flex-direction: column;
        gap: 20px;
    }

    .project-card {
        flex: 1 1 100%;
    }

    .footer {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-links {
        margin-top: 35px;
        flex-wrap: wrap;
    }

    .nav-links a {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 15px;
        margin-top: -22px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .text-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-section {
        text-align: center;
    }

    .stack-images img {
        width: 60px;
        height: 60px;
    }

    .project-cards {
        flex-direction: column;
        gap: 20px;
    }

    .project-card {
        flex: 1 1 100%;
    }

    .footer {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-section {
        max-width: 90%;
        margin: 30px auto;
        padding: 15px;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .about-section h3 {
        font-size: 20px;
    }

    .experience-item .job-title, .education-item .school-level {
        font-size: 16px;
    }

    .experience-item .company, .education-item .school-name {
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    /* Navbar responsiveness for very small screens */
    .navbar {
        padding: 20px 10px;
        margin-bottom: 30px;
    }
    .logo {
        font-size: 12px;
        margin-left: 20px;
    }

    .footer {
        padding: 20px 10px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .f-logo {
        font-size: 15px;
        margin-left: 20px;
    }

    .nav-links a {
        font-size: 10px;
        margin-right: 10px;
        margin-top: -23px;
    }

    .nav-links a img {
        display: none;
    }

    .nav-links a .icons {
        display: flex;
        width: 10px;
        gap: -10px;
    }

    /* Body section responsiveness for very small screens */
    .text-section h1 {
        font-size: 25px;
    }

    .text-section p {
        font-size: 16px;
    }

    /* Stack section responsiveness for very small screens */
    .stack-section h2 {
        font-size: 24px;
    }

    .stack-section p {
        font-size: 16px;
    }

    .stack-images img {
        width: 50px;
        height: 50px;
    }

    /* Projects section responsiveness for very small screens */
    .projects-section h2 {
        font-size: 24px;
    }

    .projects-section p {
        font-size: 16px;
    }

    .project-card h3 {
        font-size: 18px;
    }

    .project-card p {
        font-size: 14px;
    }
    
}

@media (max-width: 380px) {    
    .navbar {
    padding: 20px 10px;
    margin-bottom: 10px;
}
.logo {
    font-size: 10px;
    margin-left: 20px;
}

.footer {
    padding: 20px 0px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.f-logo {
    font-size: 10px;
    margin-left: 20px;
}

.nav-links a {
    font-size: 10px;
    margin-right: 10px;
    margin-top: -25px;
}

.nav-links a img {
    display: none;
}

.nav-links a .icons {
    display: flex;
    width: 10px;
    gap: -20px;
}

    .text-section h1 {
        margin-top: 20px;
        font-size: 20px;
    }

}